body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #f8f4f4;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: orangered;
}

.image {
    width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: orangered;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #434190;
}
